/*estilos algunas-preguntas*/
.preguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.a-p{ 
    font-weight: bold;
}
#letra{
    color: map-get($colores, color-link );       
}
.pre{
    margin-top: 20px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}
.formulario {
    width: 100%; 
}