/*estilos algunas-preguntas*/
.a-p{ 
    font-weight: bold;
}
#letra{
    color: map-get($colores, color-link );       
}
.pre{
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario {
    width: 20%; 
}