/*estilos discografia*/
h2{
    margin: 20px;
}
.lista-gulp{
    width: 40%;
    height: 350px;
    margin-top: auto;
    margin-bottom: -15%;

}
ol{
    margin: 40px;
    background-color: rgb(3, 97, 3);
    color:rgb(212, 199, 199);
    width: 25%;
}
.tapas{
    border: 1px solid grey;
    margin: 15px;
    width: 30%;
    height: 25%;
}
.subir{
    margin: 10px;
}