/*estilos discografia*/
.discografia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

h2{
    margin: 20px;
}
.lista-gulp{
    width: 40%;
    height: 350px;
    margin-top: auto;
    margin-bottom: -15%;

}
ol{
    margin: 40px;
    background-color: rgb(3, 97, 3);
    color:rgb(212, 199, 199);
    //width: 65%;
    //height: 20%;
    li{
        width: 100%;
        font-size: 20px;
    }
}

.tapas{
    border: 1px solid grey;
    margin: 15px;
    width: 40%;
    height: 30%;
}
.subir{
    margin: 10px;
}