/*estilo footer*/
footer{
    margin: 35px;
    display: flex;
    justify-content:space-evenly;
}
.facebook{
    background-color: #0866FF;
    width: 2%;
    height: 2%;
}
.instagram{
    background-color: #E4405F;
    width: 2%;
    height: 2%;
  }
