body{
    background-color: $color-primario;
    color: map-get($colores, color-letra);
    font-family:$font-principal;
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.titulos{
    font-size: 40px;
    text-decoration: underline;
    margin: 30px;
   }
/*estilos del inicio*/
.uno{
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
}
.img-intro{
    margin: 20px;
    width: 50%;
    height: 40%;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    h3{
        display: flex;
        justify-content: center;
    }
}

.sitios{
    display: flex;
    justify-content: center;
}